<video src="/img/videos/video2.mp4" muted loop autoplay></video>
<div class="overlay"></div>

<div class="container p-5">
    <div class="text">
        <h3>Bienvenido: {{user.name}}</h3>
    </div>

</div>