<video src="/img/videos/Money.mp4" muted loop autoplay></video>
<div class="overlay"></div>
<div class="text">  
  <!--h2 class="logo"><img src="/img/logos/BankTXT.png" width="40%" alt="pepe"></h2-->
  <h3>Financial</h3>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel
    necessitatibus quam sunt eligendi quasi molestias architecto
    reiciendis quos totam accusantium!
  </p>
  {{#if user}}
  {{else}}
  <a href="/users/signin">¡Empezar!</a>
  <a href="/users/signup">¡Registrate!</a>
  {{/if}}
</div>
<ul class="sci">
  <li></li><a href="#"><img src="/img/icons/facebook.png" alt="link Facebook" /></a></li>
  <li><a href="#"><img src="/img/icons/twitter.png" alt="link Twitter" /></a></li>
  <li><a href="#"><img src="/img/icons/instagram.png" alt="link Instagram" /></a></li>
</ul>