<video src="/img/videos/video3.mp4" muted loop autoplay></video>
<div class="overlay"></div>
<div class="text">  
  <h2 class="logo"><img src="/img/logos/StreamovTXT.png" width="40%" alt="txt"></h2>
  <h3>Lo mejor del cine</h3>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel
    necessitatibus quam sunt eligendi quasi molestias architecto
    reiciendis quos totam accusantium!
  </p>
  {{#if user}}
  {{else}}
  <a href="/users/signin">¡Empezar!</a>
  {{/if}}
</div>
<ul class="sci">
  <li></li><a href="#"><img src="/img/icons/facebook.png" alt="link Facebook" /></a></li>
  <li><a href="#"><img src="/img/icons/twitter.png" alt="link Twitter" /></a></li>
  <li><a href="#"><img src="/img/icons/instagram.png" alt="link Instagram" /></a></li>
</ul>