<video src="/img/videos/video.mp4" muted loop autoplay></video>
<div class="overlay"></div>

<div class="container p-5">
  <a href="/notes" class="btn bg-blue m-0"><i class="fas fa-arrow-left"></i></a>
  <div class="col-md-4 mx-auto">
    <div class="card text-center">
      <div class="card-header">
        <h3>Nueva Entrada</h3>
      </div>
      <div class="card-body">
        <form action="/notes/new-note" method="POST">

          <div class="form-group ">
            <div class="required field">
              <label for="title">Título</label>
              <input type="text" class="form-control" name="title" placeholder="Título" />
            </div>
          </div>

          <div class="form-group">
            <div class="input-group mb-3">
              <div class="input-group-prepend required field">
                <label class="input-group-text">Género</label>
              </div>
              <select class="custom-select" name="type">
                <option selected value='NaN'>Seleccionar...</option>
                <option value="Acción"> Acción </option>
                <option value="Comedia"> Comedia </option>
                <option value="Drama"> Drama </option>
                <option value="Suspenso"> Suspenso </option>
                <option value="Crímen"> Crímen </option>
                <option value="Romance"> Romance </option>
                <option value="Aventura"> Aventura </option>
                <option value="Terror"> Terror </option>
                <option value="Musical"> Musical </option>
                <option value="Ciencia Ficción"> Ciencia Ficción </option>
                <option value="Guerra"> Guerra </option>
                <option value="Animación"> Animación </option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <div class="required field">
              <label for="description">Descripción</label>
              <textarea name="description" class="form-control" placeholder="Descripción"></textarea>
            </div>
          </div>

          <div class="form-group">
            <div class="required field">
              <label for="quantity">Cantidad</label>
              <input type="number" class="form-control"  name="quantity" min="1" max="100" placeholder="#">
            </div>
          </div>

          <div class="form-group">
            <button class="btn btn-primary btn-block" type="submit">
              Guardar
            </button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>